---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import Pagination from '../../../components/Pagination.astro';
import PostPreview from '../../../components/PostPreview.astro';
import Subscribe from '../../../components/Subscribe.astro';
import siteConfig from '../../../data/site-config';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { sortItemsByDateDesc } from '../../../utils/data-utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const all = await getCollection('evidencias');

  const posts = all
    .filter(post =>
      post.id.startsWith('modelado/') &&
      post.id !== 'modelado/index'
    )
    .sort(sortItemsByDateDesc);

  return paginate(posts, {
    pageSize: siteConfig.postsPerPage || 4
  });
}

type Props = { page: Page<CollectionEntry<'evidencias'>> };

const { page } = Astro.props;
const modelado = page.data;
---

<BaseLayout
  title="Modelado"
  description="Evidencias relacionadas con modelado de datos"
  showHeader={false}
>
  <h1 class="mb-12 font-serif text-2xl leading-tight italic sm:mb-16 sm:text-4xl">
    Modelado
  </h1>

  {modelado.length === 0 && (
    <p class="italic opacity-70">No hay evidencias aún.</p>
  )}

  {modelado.map(post => (
    <PostPreview post={post} class="mb-10 sm:mb-12" />
  ))}

  <Pagination page={page} class="my-16 sm:my-24" />
  <Subscribe class="my-16 sm:my-24" />
</BaseLayout>
